@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

header{
    background-color: #008a54;;
    font-size: 27px;
    font-family: Ramabhadra;
    color: antiquewhite;
    text-shadow: black;    
}
header img{
    padding: 10px;
    background: #EEF3E2;
    border: 3px solid #008a54;
    position: absolute;
    left: 30px;
    top: 65px;
    display: block;
    width: 300px;
}

footer{
    background-color: rgb(123, 179, 133);
}

body{
    text-align: center;
    font-family: Ramabhadra;
    font-size: 27px;
    overflow-x: hidden;
}

button{
    font-family: Ramabhadra;
    background-color:#008a54;
    margin-bottom: 80px;
    size: 30px;
}

#produkte{
    text-align: center; 
    justify-content: space-between;
    display: inline-grid;
    grid-template-columns:  25% 25% 25% 25%;
    width: 100%;
    margin: auto 20px;
    position: relative;
    font-size: 20px;
}
div.artikel{
    border: 1px solid black;
    margin: 4px;

}

.bild{
    width: 180px;
    height: 180px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.notavailable {
    opacity: 0.7;
}
